<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= @title %></title>

  <link rel="stylesheet" href="css/style.css?v=1.0">
  <script src="https://www.google.com/jsapi"></script>
  <!--<script src="https://code.highcharts.com/highcharts.js"></script>-->
  <script src="js/chartkick.js"></script>
</head>

<body>
<h1><%= @title %></h1>
<h3>Generated: <%= @timestamp %></h3>

<h2>Number of Results: <%= @results.length %></h2>

<% @questions.each do |question, type| %>
    <div class='graph'><%= graph(question, type) %></div>
<% end %>

<h2>Summary</h2>
<%= summarize %>
</body>
</html>